


EMBEDDINGS_MODEL = 'siliconflow'
SILICONFLOW_EMBEDDINGS_MODEL = 'BAAI/bge-m3'
dimensions = 1024
ZHIPUAI_TEMPERATURE = 0.3
ZHIPUAI_TOP_P = 0.3
MAX_TOKENS = 6000
VERBOSE = True

# ==========================================
# SiliconFlow config
# ==========================================

SILICONFLOW_API_KEYS-1=''  #hotpot
SILICONFLOW_API_KEYS-2=''  #2wiki
SILICONFLOW_API_KEYS-3=''  #musique
# SiliconFlow Base URL
SILICONFLOW_BASE_URL='https://api.siliconflow.cn/v1'


# model
SILICONFLOW_MODEL=Qwen/Qwen3-8B
# model_provider
CHAT_MODEL_PROVIDER=siliconflow
